  <md-dialog aria-label="Edit Sub-Category Details" style="width:80%;">
    <form>
      <md-dialog-content>
        <div layout="column">
          <div class="md-whiteframe-z1">
            <md-toolbar class="md-primary">
              <h1 class="md-toolbar-tools">
                Edit Sub-Category Details
              </h1>
            </md-toolbar>

            <md-content layout-padding>
              <md-input-container>
                <label>Sub-Category Name</label>      
                <input ng-model="editSubCategory.name" type="text">
              </md-input-container>

              <md-input-container>
                <label>Sub-Category Description</label>      
                <input ng-model="editSubCategory.description"></input>
              </md-input-container>
              <br>

              <md-input-container>
                <md-select multiple ng-model="editSubCategory.services" placeholder="please select">
                  <md-option ng-repeat="item in allServices" value="{{ item._id }}">{{ item.name }}</md-option>
                </md-select>
              </md-input-container>
            </md-content>
          </div>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <md-button ng-click="cancel()" class="md-raised">
          Discard changes
        </md-button>
        <md-button ng-click="save()" class="md-raised md-primary">
          Save
        </md-button>
      </div>
    </form>
  </md-dialog>

