<div layout="column" style="width:50%">
    <div class="md-whiteframe-z1">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">
              All Tickets
            </h1>
        </md-toolbar>

        <md-content layout-padding ng-repeat="ticket in tickets | filter:filterFunction">
            <h4>{{ ticket._id }}</h4>

            <md-input-container>
              <md-select multiple ng-model="ticket.workersAssigned" placeholder="Select Workers">
                <md-option ng-repeat="item in workers" value="{{item._id}}">{{item.name}}</md-option>
              </md-select>
            </md-input-container>

            <md-button ng-click="assignWorkers(ticket, ticket.workersAssigned)" class="md-raised md-primary">
              Assign
            </md-button>

            <md-switch ng-model="ticket.resolved" ng-click="resolvedCheck(ticket, !ticket.resolved)">
              Resolved
            </md-switch>
        </md-content>
    </div>
</div>
<br>
<md-select ng-model="selectedMode" placeholder="Select Mode">
  <md-option ng-repeat="item in modes" value="{{item}}">{{item}}</md-option>
</md-select>